<p>Chào {{ name }},</p>
<p>Vui lòng nhấn vào đường dẫn bên dưới để xác nhận</p>
<p>
    <a href="{{ url }}">Xác nhận</a>
</p>
<p>
    Mã xác nhận: {{verifyNumber}}
</p>

<p>Nếu bạn không có yêu cầu với hệ thống vui lòng bỏ qua</p>