<p>Chào {{ name }},</p>
<p>Nhấn vào đường dẫn bên dưới để thay đổi mật khẩu</p>
<p>
    <a href="{{ url }}">Đổi mật khẩu</a>
</p>
<p>
    Mã xác nhận: {{verifyNumber}}
</p>

<p>Nếu bạn không có yêu cầu với hệ thống vui lòng bỏ qua</p>