<p>Chào {{ name }},</p>
<p>Chúng tôi rất tiếc khi biết rang bạn đã quên thông tin đăng nhập vào tài khoản của bạn. </p>
<p>
    <a href="{{ url }}">Đổi mật khẩu</a>
</p>
<p>
    Đây chính là mã xác minh để bạn tạo mật khẩu mới:  {{verifyNumber}}
</p>
<p>
    Đường dẫn thay đổi mật khẩu: <a href="{{ url }}">Đổi mật khẩu</a>
</p>

<p>Vui lòng sử dung số xác thực này để thay đổi mật khẩu tài khoản của bạn.</p>
<p>Tận hưởng trải nghiệm của bạn! Xin chân thành cảm ơn!</p>
<p>Taskeeper system </p>